In [3]:
import pandas as pd
import pyodbc

In [41]:
# Import CSV
data = pd.read_csv ('./data/name-list.csv')   
df = pd.DataFrame(data)

df.head()

,Std_ID,Std_Name,Std_DOB,Std_Age,Std_Street,Std_State,Std_Country,Std_Postcode,Std_Phone,Std_Email
0,101,Preeta a/l Merican,1979-03-31,43,No. 36 Jln Yong Shook Lin Seksyen 52,Selangor,Malaysia,46200,125551111,preeta@gmail.com
1,102,Siauw Koong Cheng,1980-06-01,42,13A Jln Pudu Ulu,Kuala Lumpur,Malaysia,56100,125551112,siauw@gmail.com
2,103,Muhammad Haji Syed Aidi,1980-10-19,41,1 6 Jln Pjs 11/8 Taman Bandar Sunway,Selangor,Malaysia,46150,125551113,muhammad@gmail.com
3,104,Veloo Munusamy,1980-11-23,41,32B Jalan Pekaka 8/3 Kota Damansara,Selangor,Malaysia,47810,125551114,veloo@gmail.com
4,105,Philip Nguei Ong Khoi,1981-06-10,41,No. 8 Jalan 4/91A Taman Shamelin Perkasa Batu,Kuala Lumpur,Malaysia,56100,125551115,philip@gmail.com

In [38]:
print(df.columns)

Index(['Std_ID', 'Std_Name', 'Std_DOB', 'Std_Age', 'Std_Street', 'Std_State',
       'Std_Country', 'Std_Postcode', 'Std_Phone', 'Std_Email'],
      dtype='object')

In [39]:
conn = pyodbc.connect('Driver={SQL Server};'
                      'Server=AMIR-PC\SQLEXPRESS;'
                      'Database=training_project;'
                      'Trusted_Connection=yes;')
cursor = conn.cursor()

print('Connected to SQL Server')

Connected to SQL Server

In [43]:
# Insert DataFrame to Table
for row in df.itertuples():
    cursor.execute('''
                INSERT INTO dbo.Student_Personal(Std_ID, Std_Name, Std_DOB, Std_Age, Std_Street, Std_State, Std_Country, Std_Postcode, Std_Phone, Std_Email)
                VALUES (?,?,?,?,?,?,?,?,?,?)
                ''',
                row.Std_ID, 
                row.Std_Name, 
                row.Std_DOB, 
                row.Std_Age, 
                row.Std_Street, 
                row.Std_State, 
                row.Std_Country, 
                row.Std_Postcode, 
                row.Std_Phone,
                row.Std_Email
                )
conn.commit()

IntegrityError: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'PK__Student___FE2B44AE6E330832'. Cannot insert duplicate key in object 'dbo.Student_Personal'. The duplicate key value is (101). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")